# Database Connection String
MONGO_URI=mongodb+srv://your-db-uri

# Server Port
PORT=5000

# Allowed Frontend Origins (comma separated)
ALLOWED_ORIGINS=http://localhost:5173,https://your-frontend.com

# Machine Learning Service URL
ML_SERVICE_URL=http://localhost:8000
